.header{

    position:fixed;
    top:0;
    left:0;
    right:0;
    height:72px;
    background:#003478;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    z-index:1000;
    box-shadow:0 4px 10px rgba(0,0,0,.15);

}

.left{

    display:flex;
    align-items:center;
    gap:16px;

}

.menu-btn{

    background:none;
    border:none;
    color:white;
    font-size:32px;
    cursor:pointer;

}

.logo{

    width:95px;

}

.title{

    color:white;
    font-size:30px;
    font-weight:600;

}

.right{

    display:flex;
    align-items:center;
    gap:25px;

}

.user{

    color:white;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:18px;

}

.user i{

    font-size:30px;

}

.logout{

    background:white;
    border:none;
    color:#003478;
    border-radius:10px;
    padding:10px 20px;
    font-weight:600;
    transition:.25s;

}

.logout:hover{

    transform:translateY(-2px);

}

.side-menu{

    position:fixed;
    top:72px;
    left:-270px;
    width:250px;
    height:calc(100vh - 72px);
    background:white;
    transition:.3s;
    box-shadow:5px 0 20px rgba(0,0,0,.18);
    z-index:999;
    padding-top:20px;

}

.side-menu.open{

    left:0;

}

.side-menu a{

    display:flex;
    align-items:center;
    gap:14px;
    text-decoration:none;
    color:#003478;
    font-weight:600;
    padding:18px 25px;
    transition:.2s;

}

.side-menu a:hover{

    background:#f3f6fb;

}

.side-menu i{

    font-size:20px;

}

.overlay{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.25);
    z-index:998;

}

@media(max-width:768px){

.title{

    display:none;

}

.user span{

    display:none;

}

.logo{

    width:75px;

}

.logout{

    padding:8px 14px;

}

}