.home-container{

    display:flex;

    align-items:center;

    justify-content:space-between;

    min-height:calc(100vh - 70px);

    padding:40px;

}

/* Ranger */

.vehicle-section{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

.vehicle-image{

    width:100%;

    max-width:900px;

    object-fit:contain;

}

/* Card */

.info-section{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

.info-card{

    width:100%;

    max-width:420px;

    background:rgba(255,255,255,.92);

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.info-card h2{

    color:#003478;

    font-weight:bold;

    margin-bottom:20px;

}

.info-card p{

    margin-bottom:30px;

}

/* Sidebar */

.sidebar{

    position:fixed;

    top:70px;

    left:-220px;

    width:220px;

    height:100%;

    background:white;

    transition:.3s;

    padding:25px;

    display:flex;

    flex-direction:column;

    gap:20px;

    border-right:1px solid #ddd;

    z-index:999;

}

.sidebar.open{

    left:0;

}

.sidebar a{

    text-decoration:none;

    color:#003478;

    font-weight:bold;

}

/* Responsivo */

@media(max-width:992px){

.home-container{

flex-direction:column;

padding:25px;

}

.vehicle-image{

max-width:500px;

margin-bottom:40px;

}

.info-card{

max-width:100%;

}

}